.button{
    display: block;
    background-color: rgb(233, 96, 96);
    border: none;
    cursor: pointer;
    height: 40px;
    width: 120px;

    margin-top: 20px;
    border: 5px solid #1C6EA4;
    border-radius: 40px 40px 40px 40px;

    margin: 0 auto;

}
.name{
    font-size: 18px;
color: black;
font-size: 24px;
background-color: #7fe77f;
border: 5px solid #1C6EA4;
border-radius: 40px 40px 40px 40px;
  
}



.phoneListItem{
    border: 1px solid black;
height: 400px;
   
 
}
.number{
    border: 5px solid #1C6EA4;
border-radius: 40px 40px 40px 40px;
background-color: #3d2bdf;

}